<form ng-submit="save()" novalidate>
	<div class="form-group">
		<label for="name">Name</label>
		<input ng-model="product.display_name" type="text" class="form-control" id="name" placeholder="Name">
	</div>
	<div class="form-group">
		<label for="detail">Detail</label>
		<textarea ng-model="product.detail" class="form-control" id="detail" placeholder="Detail"></textarea>
	</div>
	<div class="form-group">
		<label for="exampleInputFile">Images</label>
		<input type="file" id="exampleInputFile">
		<p class="help-block">Example block-level help text here.</p>
	</div>
	<div ng-show="error" class="alert alert-danger">{{ error }}</div>
	<button type="submit" class="btn btn-primary">Save</button>
	<button type="button" class="btn btn-danger" ng-click="del()" ng-show="del">Delete</button>
</form>